*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: none;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;

    scrollbar-color: transparent !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Mono', monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 1rem;
    letter-spacing: 0.2rem;
}

p {
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin: 0 1rem;
    letter-spacing: 0.2rem;
}
label {
    font-family: 'Roboto Mono', monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0.5rem 0 0.1rem 0;
    letter-spacing: 0.2rem;
    color: #555 !important;
}

input {
    font-family: 'Roboto Mono', monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0.1rem auto 1rem auto;
    letter-spacing: 0.1rem;
    color: #555 !important;
    text-align: justify;
}

textarea {
    font-family: 'Roboto Mono', monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1rem;
    color: #555 !important;
    text-align: left;
    outline: none;

    margin: 1rem auto 2rem auto;
    width: 119%;
    height: 55px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
    text-align: justify;
}

/*navbar*/
.navoffcanvas {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding-bottom: 25px !important;
}

.nav-link {
    font-weight: 500 !important;
    letter-spacing: 2px !important;
    color: #fff !important;
    text-decoration: none !important;
    outline: none !important;
}

.nav-link:link {
    color: rgb(70, 242, 248) !important;
    font-weight: 700 !important;
}
.nav-link:hover {
    color: rgb(70, 242, 248) !important;
    font-weight: 700 !important;
}
.nav-link::selection {
    background: rgb(70, 242, 248) !important;
    color: #333;
    font-weight: 700 !important;
}

.navbar .nav-link.active {
    color: rgb(70, 242, 248) !important;
    font-weight: 700 !important;
}

/*footer*/
.icon-style:hover {
    color: rgb(70, 242, 248) !important;
    text-shadow: 0 0 0.1rem black;
}

/*home page*/

/*breackpoints responsive*/
@media only screen and (max-width: 2560px) {
    textarea {
        width: 119%;
    }
}

@media only screen and (max-width: 1440px) {
    textarea {
        width: 116%;
    }
}

@media only screen and (max-width: 1024px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    textarea {
        width: 157%;
    }

    /*navbar*/
    .navoffcanvas {
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }

    /*home*/
    .home {
        height: 94.8vh !important;
    }
}

@media only screen and (max-width: 768px) {
    /*home*/
    .home {
        height: 94.8vh !important;
    }
    textarea {
        width: 126%;
    }
}

@media only screen and (max-width: 430px) {
    textarea {
        width: 108%;
    }
    /*footer*/
    .icon-style {
        width: 30px !important;
    }
    /*home*/
    .home {
        height: 94.8vh !important;
    }
}

@media only screen and (max-width: 425px) {
    textarea {
        width: 108%;
    }
    /*footer*/
    .icon-style {
        width: 30px !important;
    }
    /*home*/
    .home {
        height: 94.8vh !important;
    }
}

@media only screen and (max-width: 375px) {
    /*globalstyles*/
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        letter-spacing: 0.1rem;
    }

    textarea {
        width: 110%;
    }
    /*footer*/
    .icon-style {
        width: 30px !important;
    }
    /*home*/
    .home {
        height: 94.8vh !important;
    }
}

@media only screen and (max-width: 320px) {
    textarea {
        width: 150%;
    }

    /*footer*/
    .icon-style {
        width: 30px !important;
    }

    /*home*/
    .home {
        height: 94.8vh !important;
    }
}
